@model IEnumerable<Category>

@if (Model != null)
{
    <ul>
        @foreach (var c in Model)
        {
            <li><a asp-controller="shop" asp-action="index" asp-route-categoryId="@c.Id">@c.Name</a></li>
        }
    </ul>
}