@model BlogTag

@{
    ViewData["Title"] = "Blog-Tags Details";
}


<ul class="breadcrumb">
    <li>
        <p><a asp-controller="home" asp-action="index">Admin</a></p>
    </li>
    <li>
        <p><a asp-action="index">Blog Tags</a></p>
    </li>
    <li><a class="active">View</a> </li>
</ul>
<div class="page-title">
    <a asp-action="index">
        <i class="far fa-arrow-alt-circle-left"></i>
    </a>
    <h3>Admin - Blog Tags</h3>
</div>


<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-body ">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <p class="form-control">
                        @Model.Name
                    </p>
                </div>
                <div class="form-group">
                    <a class="btn btn-warning" asp-action="edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-info" asp-action="index">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>

