@model IEnumerable<BlogTag>

@if (Model != null)
{
    <div class="blog-sidebar-item">
        <h4>Search By</h4>
        <div class="blog-sidebar-item-tags">
            @foreach (var bt in Model)
            {
                <a asp-controller="blog" asp-action="index" asp-route-tagId="@bt.Id">@bt.Name</a>
            }
        </div>
    </div>
}
