@{
    ViewData["Title"] = "Chat Room";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <style>
        .cursor-p {
            cursor: pointer;
        }

        .max_w-85 {
            max-width: 85%;
        }

        .select-list li:hover {
            background-color: rgba(0,0,0,0.1);
        }

        .select-list li.selected {
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
        }

        #onlines.select-list li.selected {
            background-color: #55c555;
        }

            #onlines.select-list li.selected:hover {
                background-color: #55c555;
            }

        #groups.select-list li {
            background-color: #ffc8c833;
        }

            #groups.select-list li:first-child {
                background-color: white;
            }

                #groups.select-list li:first-child:hover {
                    background-color: white;
                }

            #groups.select-list li.selected {
                background-color: #f7942533;
            }

                #groups.select-list li.selected:hover {
                    background-color: #f7942533;
                }

        .msg-box {
            display: flex;
            justify-content: flex-end;
        }

        .my-msg {
            float: right;
        }

        .group-email-li {
            display: flex;
            justify-content: flex-end;
            background-color: white !important;
        }
    </style>
    <title>Document</title>
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-4">
                <ul class="list-group select-list" id="onlines">
                </ul>
                <hr />
                <ul class="list-group select-list" id="groups">
                    <li class="list-group-item">
                        <button id="addGroup" class="btn btn-outline-success w-100">+ Add Group</button>
                    </li>
                </ul>
            </div>
            <div class="col-7 offset-1">
                <h1 class="title text-info">Chat Room</h1>
                <hr />
                <form id="login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="mailAddr" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Qosul</button>
                </form>


                <div class="d-none chat">
                    <div class="mb-3">
                        @*<label for="emailTo" class="form-label">To: </label>
                            <input type="email" class="form-control" id="emailTo" placeholder="Enter friend email">*@
                        <h2 class="form-group" id="to"></h2>
                        <h2 class="form-group text-danger" id="toGroup"></h2>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message: </label>
                        <textarea class="form-control" id="message" placeholder="Enter Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Gonder</button>

                    <div class="list-group mt-4 message">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script>
        var isactive = false;

        $(window).focus(function () {
            isactive = true;
        }).blur(function () {
            isactive = false;
        });

        function playSound() {
            if (isactive) return;

            if (window['audioMsg'] == null)
                window['audioMsg'] = new Audio('/uploads/sounds/notify-msg.wav');

            window['audioMsg'].play();
        }

        $(document).ready(function () {

            let myColor = randomColor();

            $('.chat button').click(function (e) {
                let to = $('.chat #to').text();
                let groupName = $('.chat #toGroup').text();
                let message = $('.chat #message').val().trim();

                if ($.connection == null) {
                    alert('elaqe kesilib!');
                    return;
                }

                if (message.length < 1) {
                    alert('mesaj bosdur!');
                    return;
                }

                if (to.length < 1 && groupName.length < 1) {
                    alert('email ve ya qrup secmemisiniz!');
                    return;
                }

                if (to.length > 0) {
                    $.connection.invoke('sendToFriend', to, message);
                    writeMsgOnMyPlace(message);
                } else {
                    $.connection.invoke('sendToGroup', groupName, message).then(r => {
                        if (!r) {
                            alert("Siz qrupda deyilsiniz. Zehmet olmasa qrupa daxil olun!");
                        } else {
                            writeMsgOnMyPlace(message);
                        }
                    });
                }

            });

            $('#login').submit(function (e) {
                e.preventDefault();

                let formData = new FormData(e.currentTarget);

                let email = formData.get('mailAddr');

                if (email.length < 1) {
                    alert('e-mail qeyd edin!');
                    return;
                }

                $.connection = new signalR.HubConnectionBuilder()
                    .withUrl(`/chat?yourKey=${email}`)
                    .build();

                let colorByEmail = [];

                $.connection.on('messageReceive', function (from, msg) {
                    let clr = colorByEmail[colorByEmail.findIndex(cE => cE.email == from)]?.color;

                    if (clr == undefined) {
                        clr = randomColor();
                        colorByEmail.push({
                            email: from,
                            color: clr
                        });
                    }

                    let chatItem = $(`<a class="list-group-item list-group-item-action" data-email="${from}">
                                                                <div class="d-flex w-100 justify-content-between">
                                                                    <h5 class="mb-1" style="color:${clr};">${from}</h5>
                                                                    <small class="text-muted">${getTimeStr()}</small>
                                                                </div>
                                                                <p class="max_w-85 mb-1">${msg}</p>
                                                            </a>`);

                    $(chatItem).click(function (e) {
                        selectItem(e);
                    });

                    $('div.message').append(chatItem);

                    playSound()
                });

                $.connection.on('friendOnline', function (email) {

                    addToOnlineList(email);
                });

                $.connection.on('friendOffline', function (email) {

                    $(`#onlines li[data-email='${email}']`).remove();
                });

                $.connection.on('createNewGroup', function (groupName) {

                    let groupLi = $('<li/>', {
                        class: 'list-group-item fw-bold text-danger fst-italic',
                        text: groupName
                    }).attr('data-group-key', groupName);

                    groupLi.append(`<ul class="${groupName}_ul list-group mt-2"></ul>`);

                    $(groupLi).dblclick(function (e) {

                        let userEmail = prompt('Group-a daxil etmek istediyiniz istifadecinin emailini daxil edin: ');

                        if (userEmail == null || userEmail.trim().length <= 0)
                            return;

                        let groupKey = $(e.currentTarget).data('group-key');

                        $.connection.invoke('addToGroup', userEmail, groupKey).then(r => {
                            if (!r) {
                                alert("Bele bir emailde istifadeci yoxdur, ya da istifadeci artiq qrupda var!");
                            }
                        });
                    });

                    $(groupLi).click(function (e) {
                        let groupKey = $(e.currentTarget).data('group-key');

                        selectItem(e);
                    });

                    $('ul#groups').append(groupLi);
                });

                $.connection.on('friendAddedToGroup', function (groupName, userEmail) {
                    let badgeClr = randomColor(true);
                    $(`[data-group-key=${groupName}]`).find('ul').append(`<li class="list-group-item group-email-li">
                                                                        <span class="badge rounded-pill" style="background-color:${badgeClr};">${userEmail}</span>
                                                                        </li>`);
                });

                $.connection.start().then(function () {
                    console.log("connected");
                    $('.chat').removeClass('d-none');
                    $(e.currentTarget).addClass('d-none');

                    $.connection.invoke('getOnlines')
                        .then(friends => {

                            $(friends).each((i, el) => {
                                addToOnlineList(el);
                            });
                        });

                    $.connection.invoke('GetGroups')
                        .then(groups => {

                            for (var groupName in groups) {
                                let groupLi = $('<li/>', {
                                    class: 'list-group-item fw-bold text-danger fst-italic',
                                    text: groupName
                                }).attr('data-group-key', groupName);

                                groupLi.append(`<ul class="${groupName}_ul list-group mt-2"></ul>`);

                                $(groupLi).dblclick(function (e) {

                                    let userEmail = prompt('Group-a daxil etmek istediyiniz istifadecinin emailini daxil edin: ');

                                    if (userEmail == null || userEmail.trim().length <= 0)
                                        return;

                                    let groupKey = $(e.currentTarget).data('group-key');

                                    $.connection.invoke('addToGroup', userEmail, groupKey);
                                });

                                $(groupLi).click(function (e) {
                                    let groupKey = $(e.currentTarget).data('group-key');

                                    selectItem(e);
                                });

                                $('ul#groups').append(groupLi);

                                for (var userEmail of groups[groupName]) {

                                    let badgeClr = randomColor(true);

                                    $(`[data-group-key=${groupName}]`).find('ul').append(`<li class="list-group-item group-email-li">
                                                                        <span class="badge rounded-pill" style="background-color:${badgeClr};">${userEmail}</span>
                                                                        </li>`);
                                }
                            }
                        }).catch(function (err) {
                            return console.error(err.toString());
                        });
                }).catch(function (err) {
                    return console.error(err.toString());
                });

            });

            $('#addGroup').click(function (e) {
                let groupName = prompt('Group adini daxil edin: ');

                if (groupName == null || groupName.trim().length <= 0)
                    return;

                groupName = groupName.replace(' ', '_');

                $.connection.invoke('createGroup', groupName);
            });

            function selectItem(e) {
                let email = $(e.currentTarget).data('email');
                let group = $(e.currentTarget).data('group-key');

                if (email == undefined && group == undefined)
                    return;

                if (email != null) {
                    $('#toGroup').text('');
                    $('#to').text(email);
                } else {
                    $('#toGroup').text(group);
                    $('#to').text('');
                }

                $('.select-list li').removeClass('selected');
                $(e.currentTarget).addClass('selected');
            }

            function addToOnlineList(email) {

                let frendLi = $(`<li class="list-group-item cursor-p" data-email='${email}'>${email}</li>`);

                $(frendLi).click(function (e) {
                    selectItem(e);
                });

                $('#onlines').append(frendLi);
            }

            function getTimeStr() {

                let now = new Date();
                let month = now.getMonth() + 1;

                if (month < 10) {
                    month = `0${month}`;
                }

                let day = now.getDate();
                if (day < 10) {
                    day = `0${day}`;
                }
                let hour = now.getHours();
                if (hour < 10) {
                    hour = `0${hour}`;
                }
                let minute = now.getMinutes();
                if (minute < 10) {
                    minute = `0${minute}`;
                }
                let sec = now.getSeconds();
                if (sec < 10) {
                    sec = `0${sec}`;
                }

                let time = `${day}.${month}.${now.getFullYear()} ${hour}:${minute}:${sec}`;

                return time;
            }

            function writeMsgOnMyPlace(message) {

                let chatItem = $(`<a class="list-group-item list-group-item-action">
                                                                <div class="d-flex w-100 justify-content-between">
                                                                    <small class="text-muted">${getTimeStr()}</small>
                                                                    <h5 class="mb-1" style="color:${myColor};">Me</h5>
                                                                </div>
                                                                <div class="msg-box">
                                                                    <p class="my-msg max_w-85 mb-1">${message}</p>
                                                                </div>
                                                            </a>`);

                $('div.message').append(chatItem);

                $('.chat #message').val('');
            }

            function randomColor(isBadge) {
                let hex = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'];

                let colorStr = '#';
                for (let i = 0; i < 6; i++) {
                    let clrItem;
                    if (isBadge && i == 2) {
                        do {
                            clrItem = Math.floor(Math.random() * hex.length);

                            //console.log('clrItem: ',clrItem);
                            //console.log('clrItem < 12): ',clrItem < 12);
                            //console.log('hex[clrItem]: ',hex[clrItem]);
                            //console.log('!(hex[clrItem] < 10): ',!(hex[clrItem] < 10));

                        } while (clrItem > 11);
                    } else {
                        clrItem = Math.floor(Math.random() * hex.length);
                    }
                    colorStr += hex[clrItem];
                }

                //console.log('colorStr', colorStr);

                return colorStr;
            }

        });</script>
</body>
</html>
